---
layout: post
---

<header>
  <h2>
    <a target="_blank" href="https://mmmint.ai"> mmmint.ai</a> - Osnabrücker
    Gründer
  </h2>
  <p>
    Wir revolutionieren den Abrechnungsprozess von Fahrzeugschäden mit Ihrer
    Versicherung.
  </p>
</header>
<section id="intro" class="container">
  <div class="row">
    <div class="col-4 col-12-medium">
      <section class="first">
        <img src="/images/maxl.jpg" style="height: 10em" />
        <p>
          <a
            href="mailto:max.leimkuehler@mrfitkiv.com?subject=Kontakt über Webseite"
          >
            <strong>Max </strong>
          </a>
          ist KI-Experte beim DFKI und hat Erfahrung in Forschungs- sowie
          Beratungsprojekten gesammelt.
        </p>
      </section>
    </div>
    <div class="col-4 col-12-medium">
      <section class="middle">
        <img src="/images/maxs.jpg" style="height: 10em" />
        <p>
          <a href="mailto:max.stein@mrfitkiv.com?subject=Kontakt über Webseite">
            <strong>Max </strong>
          </a>
          ist Experte in der Unfallschadenabwicklung. Er überzeugt mit
          Branchenkenntnis und Netzwerk zu Versicherungen, sowie Werkstätten. 
        </p>
      </section>
    </div>
    <div class="col-4 col-12-medium">
      <section class="last">
        <img src="/images/markw.jpg" style="height: 10em" />
        <p>
          <a
            href="mailto:mark.warneke@mrfitkiv.com?subject=Kontakt über Webseite"
          >
            <strong>Mark </strong>
          </a>
          ist Softwareentwickler bei Microsoft. Mark bringt Erfahrungen aus
          zahlreichen Cloud-Softwareprojekten, wie z. B. starteve.ai ein.
        </p>
      </section>
    </div>
  </div>
  <footer>
    <address>
      MMM Intelligence UG haftungsbeschränkt i.G. <br />
      Auf der Halle 25a <br />
      49124 Georgsmarienhütte
    </address>

    <ul class="actions">
      <li>E-Mail: <a href="mailto:info@mrfiktiv.com">info@mrfiktiv.com</a></li>
      <li>Telefon:  <a href="tel:+4917672884125">+49 176 72884125</a></li>
      <li>
        Webseite:  <a target="_blank" href="https://mmmint.ai">mmmint.ai</a>
      </li>
    </ul>
    <ul class="social">
      {% for item in site.data.social %} {% include template/social.html %} {%
      endfor %}
    </ul>
  </footer>
</section>
