---
layout: sidebar
title: FAQ - fiktives abrechnen - Frequently Asked Questions
---

<div class="row">
  <div class="col-4 col-12-medium">
    <!-- Sidebar -->
    <section class="box">
      <!-- <a href="#" class="image featured"
        ><img src="/images/pic09.jpeg" alt=""
      /></a> -->
      <header>
        <h3>FAQ Links</h3>
      </header>
      <ul>
        {% for faq in site.data.faq %}
        <li><a href="#{{forloop.index}}">{{ faq.title }}</a></li>
        {% endfor %}
      </ul>
      <footer>
        <a href="https://app.mrfiktiv.com" class="button alt">
          fiktiv abrechnen
        </a>
        <!-- <a href="/teilkasko" class="button alt">Teilkasko</a>
        <a href="/vollkasko" class="button alt">Vollkasko</a>
        <a href="/haftpflicht" class="button alt">Haftpflicht</a> -->
      </footer>
    </section>
  </div>
  <div class="col-8 col-12-medium imp-medium">
    <!-- Content -->
    <article class="box post">
      <!-- <a href="#" class="image featured"
        ><img src="/images/pic01.jpeg" alt=""
      /></a> -->

      <header>
        <h2>FAQ</h2>
      </header>

      {% for faq in site.data.faq %}
      <section>
        <h4 id="{{forloop.index}}">{{ faq.title }}</h4>
        <p>{{ faq.text }}</p>
      </section>
      {% endfor %}

      <a href="https://app.mrfiktiv.com" class="button">Jetzt fiktiv abrechnen!</a>
    </article>
  </div>
</div>