
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">
                <section>
                    <header>
                        <h2>Contact us!</h2>
                    </header>
                    <ul class="social">
                        {% for item in site.data.social %}
                            {% include template/social.html %}
                        {% endfor %}
                    </ul>
                    <ul class="contact">
                        <li>
                            <h3>Address</h3>
                            <p>
                                MrFiktiv<br />
                                Osnabrück<br />
                            </p>
                        </li>
                        <li>
                            <h3>Mail</h3>
                            <p><a href="#">info@mrfiktiv.de</a></p>
                        </li>
                        <!-- <li>
                            <h3>Phone</h3>
                            <p>(800) 000-0000</p>
                        </li> -->
                    </ul>
                </section>
            </div>
            <div class="col-4 col-12-medium">
                <section>
                    <header>
                        <h2>Warum mrfiktiv?</h2>
                    </header>
                    <a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
                    <p>
                        Nicht jeder Schaden am Fahrzeug muss gleich repariert werden. Wir bieten Nutzern die Möglichkeit,
                        einfach fiktiv abzurechnen. Das Ganze sogar ohne einen lästigen Werkstattbesuch und digital von zu Hause.
                        Mit nur ein paar Klicks kann jeder Autofahrer einfach an sein Geld kommen & das dazu noch günstiger als bei der Werkstatt um die Ecke!
                    </p>
                    <footer>
                        <ul class="actions">
                            <li><a href="/about" class="button">Mehr hierzu</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            <div class="col-4 col-12-medium">
               
            </div>
            <div class="col-12">
            <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        <li>&copy; MrFiktiv. All rights reserved.</li><li><a href="/impressum">Impressum</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

