<!-- Intro -->
<section id="intro" class="container boxed">
  <div class="row">
    <div class="col-4 col-12-medium">
      <section class="first">
        <a href="/teilkasko">
          <i class="icon solid featured fa-car"></i>
        </a>
        <header>
          <a href="/teilkasko">
            <h2>Teilkasko</h2>
          </a>
        </header>
        <p>
          Egal ob Diebstahl, Glasbruch, Wildschaden oder Brand. Wir rechnen für
          Dich fiktiv ab.
        </p>
      </section>
    </div>
    <div class="col-4 col-12-medium">
      <section class="middle">
        <a href="/vollkasko">
          <i class="icon solid featured alt fa-bolt"></i>
        </a>
        <header>
          <a href="/vollkasko">
            <h2>Vollkasko</h2>
          </a>
        </header>
        <p>
          Selbstverschuldeter Unfall oder Schaden am Fahrzeug? Kein Problem!
        </p>
      </section>
    </div>
    <div class="col-4 col-12-medium">
      <section class="last">
        <a href="/haftpflicht">
          <i class="icon solid featured alt2 fa-star"></i>
        </a>
        <header>
          <a href="/haftpflicht">
            <h2>Haftpflichtschaden</h2>
          </a>
        </header>
        <p>
          Nicht selber schuld? Umso besser, wir setzen deinen Anspruch durch!
        </p>
      </section>
    </div>
  </div>
  <footer>
    <ul class="actions">
      <li>
        <a href="https://app.mrfiktiv.com" class="button large"
          >jetzt Fiktiv abrechnen</a
        >
      </li>
    </ul>
  </footer>
</section>
