
        <!-- Intro -->
        <section id="intro" class="container">
            <div class="row">
                <div class="col-4 col-12-medium">
                    <section class="first">
                        <i class="icon solid featured fa-car"></i>
                        <header>
                            <h2>Teilkasko</h2>
                        </header>
                        <p>Egal ob Diebstahl, Glasbruch, Wildschaden oder Brand. Wir rechnen für Dich fiktiv ab.</p>
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section class="middle">
                        <i class="icon solid featured alt fa-bolt"></i>
                        <header>
                            <h2>Vollkasko</h2>
                        </header>
                        <p>Selbstverschuldeter Unfall oder Schaden am Fahrzeug? Kein Problem!</p>
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section class="last">
                        <i class="icon solid featured alt2 fa-star"></i>
                        <header>
                            <h2>Haftpflichtschaden</h2>
                        </header>
                        <p>Nicht selber schuld? Umso besser, wir setzen deinen Anspruch durch!</p>
                    </section>
                </div>
            </div>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button large">Fiktiv abrechnen</a></li>
                    <li><a href="#" class="button alt large">FAQs</a></li>
                </ul>
            </footer>
        </section>
