---
layout: base
---

<!-- Header -->
<section id="header">
  {% include logo.html %} {% include nav.html %} {% include banner.html %}
</section>

<section id="content">
  <section id="idea" class="container boxed">
    <div class="row">
      <div class="col-6 col-12-medium">
        <header>
          <h2>
            Autounfall gehabt und keine Lust auf einen lästigen Werkstattbesuch?
          </h2>
        </header>

        <p style="text-align: justify">
          Wusstest Du, dass sich immer mehr Autofahrer nach einem Autounfall die
          entstandene <strong>Schadenssumme auszahlen</strong> lassen? Aus gutem
          Grund! Dir steht es frei zu entscheiden, ob Du dein Fahrzeug
          reparieren lässt oder ob Du Dir stattdessen lieber die Reparaturkosten
          auszahlen lässt. Nachdem der Kostenvoranschlag von der Versicherung
          freigegeben ist - kannst Du entscheiden wer das Geld bekommt. Dein
          Konto oder die Werkstatt.
          <br />
          Es wird noch besser - im Schnitt lag
          <strong>die Auszahlungssumme im Jahr 2019 bei 1900€</strong> pro
          Abrechnung. Diesen Vorgang nennt man im Versicherungs- & Schadensrecht
          <strong>fiktiv abrechnen</strong> Allerdings ist ohne
          <strong>mr fiktiv</strong> der Weg zum Geld meist sehr aufwendig:
          langweiliger Werkstattbesuch, teurer Kostenvoranschlag, Hin & Her mit
          deiner Versicherung...
        </p>
      </div>
      <div class="col-6 col-12-medium">
        <img src="/images/SVG/undraw_by_my_car_ttge.svg" style="width: 100%" />
      </div>
    </div>
  </section>

  {% include intro.html %}

  <section id="solution" class="container boxed">
    <div class="row">
      <header>
        <h2>
          mrfiktiv ist eine Plattform, auf der Kunden bei der Abrechnung von
          Autoschäden geholfen wird.​
        </h2>
        <p>
          Eine digitale Schadensabrechnung nach Autounfällen – kein
          Werkstattbesuch, keine Reparatur und schnelles Geld. ​
        </p>
      </header>
      <div class="col-6 col-12-medium unpadded">
        <section class="first padded">
          <a href="https://app.mrfiktiv.com" class="nolink">
            <img src="/images/screenshot.jpg" style="width: 45%" />
          </a>
          <a href="https://app.mrfiktiv.com" class="nolink">
            <img src="/images/screenshot2.jpg" style="width: 45%" />
          </a>
        </section>
      </div>
      <div class="col-6 col-12-medium unpadded">
        <section class="second">
          <ul>
            <li>
              <strong>Von überall & jeder Zeit</strong> einen
              Versicherungsschaden nach einem Autounfall in nur 5 Minuten
              abrechnen.
            </li>
            <li>
              <strong>50 % günstiger</strong> für den Endkunden, da wir den
              Service deutlich effizienter als die Werkstätten vor Ort abbilden.
            </li>
          </ul>
          <h1>
            In nur wenigen Schritten zum Kostenvoranschlag – unter 5 Minuten. ​
          </h1>
          <ol>
            <li>
              Schadensart bestimmen​ um herauszufinden, ob es sich um einen
              Haftpflicht-, Vollkasko- oder Teilkaskofall handelt.​
            </li>
            <li>
              Fahrzeugschein hochladen​ um die relevanten Informationen für die
              Kalkulation zur Verfügung zu stellen.​
            </li>
            <li>
              Schadenfotos aufnehmen​ auf Basis derer die Partnerwerkstätten den
              Kostenvoranschlag kalkulieren können.​
            </li>
            <li>
              Servicestufe auswählen​ und Kontaktdaten hinterlegen. mrfiktiv
              kümmert sich um das Anliegen der Kunden.​
            </li>
          </ol>
          <footer>
            <ul class="actions">
              <li>
                <a href="https://app.mrfiktiv.com" class="button large"
                  >jetzt Fiktiv abrechnen</a
                >
              </li>
            </ul>
          </footer>
        </section>
      </div>
    </div>
  </section>
</section>

<!-- Main -->
<section id="main">
  <div class="container">{{ content }}</div>
</section>

{% include footer.html %}
