---
layout: default
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ page.title | jsonify }},
    "datePublished": {{ page.date  | date_to_xmlschema | jsonify }},
    "dateModified": {{ page.last_modified_at | default: page.date  | date_to_xmlschema | jsonify}},
    "image": ["{{ site.url }}{{ page.image | relative_url }}"]
  }
</script>

<article class="box post">
  <header>
    <h2>{{page.title}}</h2>
    <p>{{page.subtitle}}</p>
  </header>

  {{ content }}
</article>
