---
layout: default
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ page.title | jsonify }},
    "datePublished": {{ page.date  | date_to_xmlschema | jsonify }},
    "dateModified": {{ page.last_modified_at | default: page.date  | date_to_xmlschema | jsonify}},
    "image": ["{{ site.url }}{{ page.image | relative_url }}"]
  }
</script>

<article class="box post">
  {% if page.title %}
  <header>
    <h2>{{page.title}}</h2>
    {% if page.subtitle %}
    <p>{{page.subtitle}}</p>
    {% endif %}
  </header>
  {% endif %} {{ content }}
</article>
